body {
    color: black;
    background-color: rgb(213, 185, 239);
    padding: 5px;
    margin: 0px;
    }

main {
    background-color: rgb(213, 185, 239);
    padding: 10px;
}

h1.logo {
        font-size: 44px;
        font-weight: 700;
        color: rgb(51, 16, 146);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: 50px;
        margin-bottom: 40px;
        }


.menu {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
    background-color: #f0147b;
    text-align: center;
    border-radius: 20px;
}

.menu > li
{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #0a2b42;
}

.menu > li:first-child
{
	border-left: 1px dashed #0a2b42;
}


.button:hover
{
	background-color: #591d6d;
}

#topnav {
	text-align: center;
    
}

.button {
    background-color:#e162cc;;
    border-radius: 20px;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.to-do {
    background-color: rgb(233, 241, 83);
    width: 300px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    font-weight: 500;

}

.leki {
    background-color: aquamarine;
    width: 250px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size: 30px;

}

.tydzien {
    background-color: aquamarine;
    width: calc(100% - 10px);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    display: inline-block;
    font-size: 20px;
    /* flex-direction: row ; */
    
}


.dzien {
    background-color: #e162cc;
    margin: 5px;
    justify-content: center;
    padding: 10px;
    
    
}

.dzien-tygodnia {
    justify-content: center;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    font-size: 30px;
}

.leki-osoby {
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;

}


.row {
    margin-top: 10px;
}

.col {
  width: auto;  
}

.wypelnienie {
    font-size: 15px;
}

table {
    color: white;
    background-color: rgb(35, 140, 35);
    border-color: #130219;
    width: 100%;
    text-align: center ;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

input {
    width: 100px;
}
@media screen and (max-width: 650px) {
    .container {
        flex-direction: column;
    }
}